<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3">
      <a href="/home" class="btn btn-success mb-4">Home</a>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <button routerLink="/user" class="btn login-btn mb-4">SignUp/Login</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3" *ngFor="let i of products">

      <div class="Card mb-4">
        <img [src]="i.img" alt="">
        <div class="card-detail text-center">{{ i.name }} <span class="card-price"> Price : {{ i.price }}</span></div>
        <button class="btn btn-danger" (click)="remove(i.id)">Remove</button>
      </div>
    </div>
  </div>


</div>